.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    
}

.new-collections h1{
    color: #171717;
    font-size: 40px;
    font-weight: 500;
}

.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #171717
}

.new-collections-item{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;


}