.cartitems{
    margin: 50px 130px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 55px;
    padding: 15px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;


}

.cartitems-format{
    font-size: 15px;
    font-weight: 500;
} 

.cartitems-product-icon{
    height: 112px;
}

.cartitems-remove-icon{
    cursor: pointer;
    margin: 0px 20px;
    width: 15px;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb
}

.cartitems-down{
    margin: 70px 0px;
    display: flex;

}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 30px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button{
    width: 242px;
    height: 50px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;

}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    margin-top: 35px;
    color: #555;
}

.cartitems-promobox{
    height: 50px;
    width: 504px;
    margin-top: 35px;
    padding-left: 20px;
    background: #eaeaea;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    font-size: 16px;
    height: 48px;
    width: 330px;
    background: transparent;
}

.cartitems-promobox button{
    width: 170px;
    height: 50px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

